<%- include('../partials/header.ejs') %>
<h1><%= user %>'s Profile</h1>
<%- include('../partials/recipeForm.ejs') %>
<%- include('../partials/viewRecipes.ejs') %>
<%- include('../partials/footer.ejs') %>