<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<body>
    <container class="regular">
        <h1><%= recipe.name %></h1>
        <p>testing</p>
        <button id="editRecipe">Edit</button>
    </container>
    <form method="POST" action="updateRecipe/<%=recipe._id%>" class="updateForm" hidden>
        <input name="recipeName" class="h1" type="text" value="<%=recipe.name%>"><br>
        <button class="">Submit</button>
    </form>
</body>
<%- include('../partials/footer') -%>